body {
    background: linear-gradient(120deg, #08002e, #7f2600);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid white;
}

.myButton {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    outline: none;
    background: purple;
    color: white;
    border-radius: 3px;
    font-size: 1.3rem;
}

.search-input {
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.search-icon {
    font-size: 1.2rem;
    color: white;
}

.submit-button {
    background: none;
    border: none;
    padding: 5px;
}